/* ------------------------*\
   RESPONSIVE
\*------------------------*/
@media (min-width: 576px) {
  :root {
    /* typography */
    --fs-1: 1.875rem;
  }

  .header-top {
    display: block;
    padding: 10px 0;
    border-bottom: 1px solid var(--cultured);
  }

  .header-top .header-social-container {
    display: none;
  }

  .header-top .header-top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-top .header-top-container .header-alert-news {
    color: var(--sonic-silver);
    font-size: var(--fs-9);
    text-transform: uppercase;
  }

  .header-top .header-top-container .header-alert-news b {
    font-weight: var(--weight-500);
  }

  .header-top .header-top-container .header-top-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .header-top .header-top-container .header-top-actions select {
    border: none;
    outline: none;
    display: block;
    min-width: 80px;
    padding: 5px;
    font: inherit;
    color: var(--sonic-silver);
    font-size: var(--fs-8);
    text-transform: uppercase;
    cursor: pointer;
    transition: var(--transition-timing);
  }

  .header-top .header-top-container .header-top-actions select:hover {
    color: var(--eerie-black);
  }

  .header-main {
    padding: 25px 0;
  }

  /* BANNER */
  .banner .slider-container .slider-item {
    aspect-ratio: 5 / 3;
  }

  .banner .slider-container .banner-content {
    top: 50%;
    right: auto;
    bottom: auto;
    transform: translateY(-50%);
    max-width: 400px;
  }

  .banner .slider-container .banner-subtitle {
    --fs-7: 1rem;
  }

  .banner .slider-container .banner-text {
    display: block;
    color: var(--sonic-silver);
    font-size: var(--fs-7);
    font-weight: var(--weight-500);
    margin-bottom: 10px;
  }

  .banner .slider-container .banner-text b {
    font-size: var(--fs-2);
  }

  .banner .slider-container .banner-btn {
    padding: 7px 20px;
  }

  /* CATEGORY */
  .container .category-item-container {
    gap: 30px;
  }

  .container .category-item-container .category-item {
    min-width: calc(50% - 15px);
  }

  /* PRODUCT MINIMAL */
  .product-minimal .product-showcase .showcase-wrapper .showcase-container {
    min-width: 50%;
  }

  /* PRODUCT MAIN */
  .product-main .product-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  /* CTA */
  .cta-container {
    aspect-ratio: 4 / 3;
  }
  .cta-container .cta-content {
    padding: 60px;
    border-radius: var(--border-radius-md);
  }

  .cta-container .cta-content .discount {
    --fs-11: 0.875rem;
    padding: 5px 10px;
  }

  .cta-container .cta-title {
    --fs-5: 1.5rem;
  }

  .cta-container .cta-text {
    --fs-7: 1rem;
  }

  .cta-container .cta-btn {
    --fs-9: 1rem;
  }

  /* BLOG */
  .blog .blog-container {
    gap: 30px;
  }

  .blog .blog-container .blog-card {
    min-width: calc(50% - 15px);
  }

  /* FOOTER NAV */
  .footer-nav > .container {
    grid-template-columns: repeat(2, 1fr);
  }

  /* FOOTER */
  .copyright {
    --fs-8: 0.875rem;
  }
}

@media (min-width: 768px) {
  :root {
    --fs-1: 2.375rem;
  }

  html {
    font-size: 17px;
  }

  .container {
    max-width: 750px;
    margin: auto;
  }

  .banner .slider-container .banner-content {
    background: transparent;
    max-width: 300px;
  }

  /* MODAL */

  .modal .modal-content {
    display: flex;
    align-items: center;
    max-width: 750px;
    width: fit-content;
  }

  .modal .modal-content .newsletter-img {
    display: block;
  }

  .modal .modal-content .newsletter {
    text-align: left;
  }

  /* SLIDER */
  .banner .slider-container .slider-item {
    aspect-ratio: auto;
    height: 350px;
  }

  .banner .slider-container .slider-item .banner-content {
    max-width: 380px;
  }

  .banner .slider-container .slider-item .banner-subtitle {
    --fs-7: 1.25rem;
  }

  .banner .slider-container .slider-item .banner-text {
    --fs-7: 1.125rem;
  }

  .banner .slider-container .slider-item .banner-text b {
    --fs-2: 1.875rem;
  }

  .banner .slider-container .slider-item .banner-btn {
    --fs-11: 0.75rem;
  }

  /* PRODUCT FEATURED */
  .product-featured .showcase-wrapper .showcase-container .showcase {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  /* SERVICE */
  .service .service-container {
    flex-direction: row;
  }

  .service .service-container .service-item {
    flex-direction: column;
    text-align: center;
    flex: 1;
  }

  .footer-nav .container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  :root {
    --fs-1: 2.625rem;
    --fs-2: 1.125rem;
  }

  .container {
    max-width: 960px;
  }

  .header-top .header-top-container .header-social-container {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .header-top .header-top-container .header-social-container .social-link {
    padding: 8px;
    color: var(--sonic-silver);
    background: var(--cultured);
    border-radius: var(--border-radius-md);
    transition: var(--transition-timing);
  }

  .header-top
    .header-top-container
    .header-social-container
    .social-link:hover {
    background: var(--salmon-pink);
    color: var(--white);
  }

  .header-main .container {
    display: flex;
    align-items: center;
  }

  .header-main .header-logo {
    margin: auto;
  }

  .header-main .header-search-container {
    flex-grow: 1;
    margin-left: 80px;
  }

  .header-main .header-user-actions {
    display: flex;
    gap: 10px;
    margin-left: 60px;
  }

  .header-main .header-user-actions .action-btn {
    font-size: 25px; 
  }
}
